<section class="footer container-fluid">

  <footer class="footer-distributed">
        <div class="footer-left">
          <h3>Apna<span>Ghar</span></h3>
  
          <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">About</a>
            |
            <a href="#">City</a>
            |
            <a href="#">ContactUS</a>
          </p>
  
          <p class="footer-company-name">© 2021 Kishan Rathod.<br>Zeel Punjabi.</p>
        </div>
  
        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
              <p><span>Rang Enterprise, Navrangpura Road, Ahmedabad, Gujarat</span>
              Ghodasar, Ahmedabad - 380050</p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+91 9727993507</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:kishanrathodgdd@gmail.com">apnaghar25@gmail.in</a></p>
          </div>
        </div>
        <div class="footer-right">
          <p class="footer-company-about">
            <span>About the company</span>
            We offer the top places to live and also links with the other necessities along with it. </p>
          <!--<div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>-->
        </div>
      </footer>
  </section>
  </body>
  </html>